.form
  margin-bottom 20px
  form
    padding 10px
    background white
    border 1px solid lightgray
    border-radius 5px
  .form-inner
    display flex
    justify-content space-between
    padding-top 10px
  input
    width 100%
    margin-right 10px
  button
    margin-right 10px
    &:last-of-type
      margin-right 0

.button-close
  background-color transparent
  text-transform lowercase
  &:hover
    text-decoration underline
    background transparent
