.user
  text-transform uppercase

.user-id
  padding 20px 10px 5px
  text-align center
  font-size 0.8em
  background-color rgba(11, 16, 31, 0.4)
  .avatar
    border-radius 5px

.user-info
  border-top 1px solid rgb(11, 16, 31)
  border-bottom 1px solid rgb(11, 16, 31)

.user-info-block
  padding 10px 15px
  box-sizing border-box
  font-size 12px
  background-color rgba(11, 16, 31, 0.4)
  &:first-child
    border-bottom 1px solid rgb(11, 16, 31)
  h6
    margin 0 0 5px 0
    text-align right
  span
    font-size 20px
